<h1>Eat-da-Taco!</h1>

<form class="create-update-form" action="/" method="POST">
	<div class="form-group">
		<input type="text" id="ta" name="name">
		<button type="submit">Submit</button>
		<label for="ta">Enter a taco you want to eat! Click the "Submit" button</label>
	</div>
</form>